h1, h2, h3, h4, h5, h6, a, p, li {
    margin: 0;
}

.editcar-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.editcar-breadcrumb {
    display: flex;
    gap: 10px;
}

.editcar-breadcrumb-route p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    color: black;
}

.editcar-breadcrumb-route a {
    text-decoration: none;
}

.editcar-breadcrumb-route-active {
    color: #222222;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
}

.editcar-breadcrumb-icon-bg {
    display: flex;
    align-items: center;
}

.editcar-title {
    margin-top: 27px;
}

.editcar-title h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.editcar-inputsection-bg {
    width: 100%;
    background-color: white;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin-top: 16px;
    padding: 16px;
}

.editcar-inputsection {
    width: 494px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.editcar-inputsection-form {
    display: flex;
    justify-content: space-between;
    
}

.editcar-inputsection-form-title {
    display: flex;
    align-items: center;
}

.editcar-inputsection-form-title p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.editcar-inputsection-form-instruc p {
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    color: #8A8A8A;
}

.editcar-inputsection-form-input-bg {
    width: 339px;
    border: 1px solid #D0D0D0;
    display: flex;
    align-items: center;
    padding: 9px 12px;
     
}

.editcar-inputsection-form-input-bg input {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;   
    color: #8A8A8A;
}

.editcar-inputsection-form-date {
    width: 339px;
    display: flex;
    align-items: center;
    padding: 9px 12px;
}

.editcar-inputsection-form-input-bg input {
    width: 100%;
    border: none;
    outline: none;
}

.editcar-inputsection-form-select-bg {
    width: 339px;
    border: 1px solid #D0D0D0;
    display: flex;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.editcar-inputsection-form-select-bg .form-select {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;   
    color: #8A8A8A;
}

.editcar-inputsection-form-select-bg .form-select:focus {
    border: none !important;
}

.editcar-inputsection-form-input-bg input::placeholder {
    color: #8A8A8A;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
}

.editcar-btn {
    display: flex;
    gap: 16px; 
}

.editcar-btn-cancel button {
    width: 70px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #0D28A6;
    border-radius: 2px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0D28A6;
}

.editcar-btn-save Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    position: absolute;
    width: 57px;
    height: 36px;
    background: #0D28A6;
    border-radius: 2px;  

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
        
}